a, button, input:focus, textarea:focus, select:focus{
    outline: none;
}

*, ::after, ::before {
    box-sizing: inherit;
}

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}